@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Because we don't use PHP</h2>
        <p>We descide to make a Wordpress using C#. Enjoy!</p>
    </div>
</div>
